body {
  margin: 0;
  padding: 20px 50px;
}

.p-rel {
  position: relative;
}

.widget {
  margin-top: 5%;
  padding: 20px 50px;
}
.side-left {
  display: flex;
  flex-direction: column;
  border-right-style: solid;
  border-left: black;
}

.select-dom:hover,
.fix-select-dom {
  background-color: lightskyblue;
}

.col-md-12{
  border-style: none !important;
  justify-content: left !important;
}

.modal-content {
  height: 900px;
  /* width: 783px !important; */
}

.drag {
  margin-top: 23% !important;
  margin-left: 45% !important;
}
.empty {
  display: flex;
  margin: 5px;
  width: 70%;
  height: 130%;
  background-color: gray;
}

.empty:hover {
  border-style: solid;
  border-color: blue;
}

.drag {
  margin-top: 25%;
  margin-left: 50%;
  justify-content: center;
  /* width: 100px;
  height: 100px;
  background-color: red; */
}

.side-top {
  display: flex;
  flex-direction: row;
  border-bottom-style: solid;
  border-left: black;
}

.p-abs {
  position: absolute;
  right: 0;
  top: 8px;
}

.borderCadre {
  border-style: groove;
  justify-content: center;
  height: 200px;
  width: 80%;
}

.container {
  display: inline-flex;
  flex-direction: column;
}

.inf-input {
  align-items: center;
}

.error-field {
  border-color: red;
}

#Mylabel {
  display: flex !important;
}

#adv-red,
#simul-a:hover {
  color: red;
}

#adv-green {
  color: green;
}

#Mylegend {
  width: 65%;
}

#space-form {
  height: 20%;
}

.inf-note {
  text-align: justify;
}

.inf-note2 {
  text-align: center;
}

.form-check {
  position: relative;
  display: flex;
  padding-left: 1.25rem;
  /* justify-content: center; */
  text-align: center;
  margin-top: 10%;
}

.row-center {
  align-self: center;
}

.Ajust-Image {
  height: 100px;
  width: 100px;
}

fieldset {
  display: block;
  width: 80%;
  height: 200px;
  margin-inline-start: 2px;
  margin-inline-end: 2px;
  padding-block-start: 0.35em;
  padding-inline-start: 0.75em;
  padding-inline-end: 0.75em;
  padding-block-end: 0.625em;
  min-inline-size: min-content;
  border-width: 2px;
  border-style: groove;
  border-color: threedface;
  border-image: initial;
}

.justifyCenter {
  justify-content: center;
}

form,
.place-center {
  display: flex;
  justify-content: center;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.col-top-center {
  display: flex;
  vertical-align: top;
  justify-content: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
